<div class="ekart-featured-product-item">
     <ng-content select=".title"></ng-content>
    <p class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam sapiente iste praesentium? Nesciunt tenetur, in accusantium debitis non, provident ullam vitae quam minus nemo explicabo quia placeat adipisci. Autem, doloremque?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, molestiae porro eveniet impedit vero commodi reprehenderit. Provident ipsam non, accusamus delectus nostrum natus, numquam perferendis laborum voluptas veritatis totam explicabo?
    </p>
    <ng-content select=".call-to-action"></ng-content>
    
  </div>
